.main-event {
  width: 500px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  top: 17%;
  color: #f9f9f9;
  text-shadow: 1px 1px 8px #4a4848;
  font-family: "Trebuchet MS", "Helvetica", "sans-serif";
  text-align: center;
  font-size: 20px;
}

.main-event-name {
  font-size: 25px;
  padding-bottom: 5px;
}

.main-event-days {
  font-size: 30px;
  padding-bottom: 5px;
}